.body {
    background-color: blue;
}
.whitekey {
    background-color:white;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: black;
    margin: 1%;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.blackkey {
    background-color: black;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 1%;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
.sequencer {
    width: 100px;
    background-color: black;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}
.sequencer_selected {
    width: 100px;
    background-color: red;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}

.timer {
    width: 100px;
    background-color: yellow;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: blue!important;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}
.timer_selected {
    width: 100px;
    background-color: blue;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: yellow !important;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}

.timer_start_btn {
    background-color: green;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}
.timer_stop_btn {
    background-color: red;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}

.timer_incr_decr_btn {
    background-color: gray;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}

.timer_speed_txt {
    background-color: darkgray;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    color: black;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}

.download_btn {
    background-color: darkorange;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-radius: 5%;
    color: white;
    margin: 0px;
    padding:0px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;;
}


div.scrollmenu {
    background-color: lightblue;
    overflow: auto;
    white-space: nowrap;
    margin: 0px;
    padding:0px;
}
  
div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0px;
    padding:8px;
    text-decoration: none;
}
